*,
*::before,
*::after {
    box-sizing: border-box;
}

.content {
    min-height: 100vh;
    height: 100%;
    background-color: #143F6B;
}

.main-section .white {
    width: 100px;
    height: 400px;
    cursor: pointer;
}

.main-section .white.active {
    background-color: #ccc !important;
}

.main-section .black {
    width: 55px;
    height: 255px;
    margin: 0 -27.5px;
    z-index: 1;
    cursor: pointer;
}

.main-section .black.active {
    background-color: #333 !important;
}

@media (max-width:768px) {
    .main-section .white {
        width: 79px;
    }

    .main-section .black {
        width: 49px;
        margin: 0 -24.5px;
    }
}

@media (max-width:575px) {
    .main-section .white {
        width: 44px;
    }

    .main-section .black {
        width: 25px;
        margin: 0 -12.5px;
    }
}